.grid-container {
    display: grid;
    height: 600px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: cadetblue;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }