.grid {
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    
}

.topleft {
    background-color: aquamarine;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.topmiddle {
    background-color: darkgoldenrod;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.topright {
    background-color: purple;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.middleleft {
    background-color: darkred;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.middleright {
    background-color: cadetblue;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.lowerleft {
    background-color: pink;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.lowermiddle {
    background-color: green;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}

.lowerright {
    background-color: slategray;
    float: left;
    height: 80px;
    width: 80px;
    padding: 40px;
    margin: 80px;
}